@model List<HospitalManagementSystem.Models.Nurse>
@{
    ViewBag.Title = "ViewNurses";
    Layout = "..\\Shared\\_Layout.cshtml";
}

<h2>View Nurses</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">Name</div>
        <div class="col-xs-12">Surname</div>
        <div class="col-xs-12">Diagonosis</div>
        <div class="col-xs-12">Prescription</div>
        <div class="col-xs-12"><a href=""></a></div>
    </div>

    @foreach (var nurse in Model)
    {
        <div class="row">
            <div class="col-xs-12">@nurse.Person?.Name</div>
            <div class="col-xs-12">>@nurse.Person?.Surname</div>


            <div class="col-xs-12"><a href=""> Delete </a> </div>
        </div>
    }

</div>
