################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HospitalManagementSystemNet/.vs/HospitalManagementSystemNet/config
/HospitalManagementSystemNet/.vs/HospitalManagementSystemNet/v16/Server/sqlite3
/obj
/bin
/obj/
/bin/
/.vs
/logs
/.vs/
/Logs/
*.suo
*.user
*.txt
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/project.assets.json
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/HospitalManagementSystem.Console.DataSeed.csproj.nuget.g.targets
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/HospitalManagementSystem.Console.DataSeed.csproj.nuget.g.props
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/HospitalManagementSystem.Console.DataSeed.csproj.nuget.dgspec.json
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/Debug/HospitalManagementSystem.Console.DataSeed.csproj.FileListAbsolute.txt
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj/Debug
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj
