################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HospitalManagementSystemNet/.vs/HospitalManagementSystemNet/config
/HospitalManagementSystemNet/.vs/HospitalManagementSystemNet/v16/Server/sqlite3
*.suo
/obj
/bin
/.vs
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/obj
/HospitalManagementSystemNet/HospitalManagementSystem.Console.DataSeed/bin/Debug
