<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
  </configSections>
  <add name="HospitalManagementSystemContext" connectionString="data source=.;initial catalog=HospitalManagementSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />>
</configuration>