@{
    ViewBag.Title = "Unauthorised";
    Layout = "..\\Shared\\_Layout.cshtml";

}

<div class="panel panel-default">
    <div class="std-top-padding">
        <div class="info">You are not authorised to access the page.</div>
        <a href="../Account/Register">Register</a> , 
        <a href="../Account/Login">Login</a>

        Or Contact Your Administrator
    </div>
</div>
