@{
    ViewBag.Title = "Unauthorised";
}

<div class="panel panel-default">
    <div class="std-top-padding">
        <div class="info">You are not authorised to access the page.</div>
    </div>
</div>
