@{
    ViewBag.Title = "Unauthorised";
}<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="panel panel-default">
    <div class="page-title">|Unauthorised</div>
    <div class="std-top-padding">
        <div class="info">You are not authorised to access the page.</div>
    </div>
</div>
