@model HospitalManagementSystem.Models.Web.LoginCredentials
@{
    ViewBag.Title = "Login";
    Layout = "..\\Shared\\_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4">

                @*@Html.TextBoxFor(m => m.Username, new Dictionary<string, object>())*@
                <input type="text" id="username" name="username" placeholder="Username"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required
                       class="single-input">
            </div>
            <div class="col-lg-4">
                @*@Html.EditorFor(m => m.Password, new Dictionary<string, object>())*@
                <input type="password" name="password" placeholder="Password"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                       class="single-input">
            </div>
            <div class="col-lg-4">
                <button type="submit" id="login" name="login" class="genric-btn primary circle arrow">Login</button>
            </div>
        </div>
    </div>
}



