@model string
@{
    ViewBag.Title = "Reset Password Successfully";
    Layout = "..\\Shared\\_Layout.cshtml";
}
<div class="panel-top-padding view-panel">
    <div class="std-top-padding">
        <div class="success">@Model</div>
        <div class="std-top-padding">
            <br />
            <input type="button" value="Login" class="btn btn-danger" onclick=" window.location = 'Login'" />
        </div>
    </div>
</div>
