@model HospitalManagementSystem.Models.Person
@{
    Layout = "..\\Shared\\_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container">
        <br />
        <p>Please enter your Cellphone number below. You will receive a link to reset your password.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label>Cellphone Number<span class="requiredField">*</span></label>
                @Html.TextBoxFor(ui => ui.Cellphone, new { @class = "form-control", @Required = "Required" })
                <br />
                @Html.Partial("_RequiredFieldNote")
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br />
                <div class="centered">
                    @*<input type="button" value="Submit" class="btn btn-primary" onclick="resetPassword();" /><br />*@

                    <input type="submit" value="Submit" class="btn btn-primary" /><br />
                </div>
            </div>
        </div>
        <div class=" row std-top-padding">
            @if (Model != null && !string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Outcome: </strong> @Model.Error
                </div>
            }
        </div>
    </div>
}
